name: php-cs-fixer
on:
  pull_request:
    paths:
      - '**.php'

permissions:
  contents: write

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Get php-cs-fixer version
        id: php-cs-fixer
        run: |
          VERSION=$(jq -r '."require-dev"."friendsofphp/php-cs-fixer"' composer.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          tools: php-cs-fixer:${{ steps.php-cs-fixer.outputs.version }}

      - name: Run php-cs-fixer
        run: php-cs-fixer fix .

      - name: Git commit and push
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'style(php-cs-fixer): fix code style and lint'
